<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title -->
    <title>Node | WebApp admin MVC</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->

    <!-- Vendor styles -->
    <link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="vendor/metisMenu/dist/metisMenu.css" />
    <link rel="stylesheet" href="vendor/animate.css/animate.css" />
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css" />

    <!-- App styles -->
    <link rel="stylesheet" href="fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="fonts/pe-icon-7-stroke/css/helper.css" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="blank">
    <div class="login-logo"><img alt="" class="img-responsive" src="/img/logo.png"></div>
    <ul class="nav navbar-nav">
            <li><a href="/" ><%= "Home" %></a></li>
            <li><a href="/login" ><%= "Login" %></a></li>
            <li><a href="/register" ><%= "Registration" %></a></li>                
    </ul>

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>PLEASE LOGIN TO APP</h3>
                <small>This is the best app ever!</small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <form action="/signin" id="loginForm" name="loginForm" data-parsley-validate="" method="POST">
                        <div class="form-group">
                            <label class="control-label" for="email">Email</label>
                            <input type="text" title="Please enter you username" value="" name="email" id="email" class="form-control" required="required" data-parsley-required-message="Email is required" data-parsley-maxlength="200">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password">Password</label>
                            <input type="password" title="Please enter your password" value="" name="password"    id="password" class="form-control" required="required" data-parsley-required-message="Password is required" data-parsley-maxlength="100">
                        </div>
                        <!-- <div class="checkbox">
                            <input type="checkbox" class="i-checks" checked>
                                    Remember login
                            <p class="help-block small">(if this is a private computer)</p>
                        </div> -->
                        <button type="submit" class="btn btn-lg btn-primary btn-block" title="Login">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>


<!-- Vendor scripts -->
<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="vendor/metisMenu/dist/metisMenu.min.js"></script>
<script src="vendor/iCheck/icheck.min.js"></script>
<script src="vendor/sparkline/index.js"></script>

<!-- App scripts -->
<script src="js/homer.js"></script>
<script src="js/parsley.min.js"></script>
<script type="text/javascript">

    $(function(){
        if($('.i-checks').size() > 0){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green'
            });
        }
    });
</script>
<script>
    $(document).ready(function(){
        $('#loginForm').parsley();
    });
</script>
</body>
</html>