<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Vendor styles -->
  <link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.css" />
  <link rel="stylesheet" href="vendor/metisMenu/dist/metisMenu.css" />
  <link rel="stylesheet" href="vendor/animate.css/animate.css" />
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css" />

  <!-- App styles -->
  <link rel="stylesheet" href="fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
  <link rel="stylesheet" href="fonts/pe-icon-7-stroke/css/helper.css" />
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/toastr.min.css">
  <link rel="stylesheet" href="vendor/datatables.net-bs/css/dataTables.bootstrap.min.css" />
  <link rel="stylesheet" href="css/app.styles.min.css"/>
</head>
<style type="text/css">
  .icon-off:before{content:"\f00d"; font-family: FontAwesome; font-size:16px; font-style: normal}
</style>
<body>
  <nav class="navabar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a href="#"><%= title %></a>
      </div>
    </div>
  </nav>
  <div class="container">

  </div>
  <script src="/js/app.min.js"></script>
</body>
        <!-- Vendor scripts -->
        <script src="vendor/jquery/dist/jquery.min.js"></script>
        <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
        <script src="vendor/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="vendor/metisMenu/dist/metisMenu.min.js"></script>
        <script src="vendor/iCheck/icheck.min.js"></script>
        <script src="vendor/sparkline/index.js"></script>
        <!-- DataTables -->
        <script src="vendor/datatables/media/js/jquery.dataTables.min.js"></script>
        <script src="vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <!-- DataTables buttons scripts -->
        <script src="vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
        <!-- App scripts -->
        <script src="js/homer.js"></script>
        <script src="js/parsley.min.js"></script>
</html>
