<% include ./partials/header %>

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>Welcome to Admin Module</h3>
            </div>
            <div class="hpanel">
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>


